body {
    font-size: 1rem;
    
    * {
        -webkit-font-smoothing: antialiased!important;
        -moz-osx-font-smoothing: grayscale!important;
    }
}

html {
    font-size: 80%;
    
    @include media-breakpoint-up(sm) { font-size: 85%; }
    
    @include media-breakpoint-up(md) { font-size: 90%; }
    
    @include media-breakpoint-up(lg) { font-size: 95%; }
    
    @include media-breakpoint-up(xl) { font-size: 100%; }
}

small {
    font-size: .68rem;
}

h2 { 
    color: $indigo;
    margin-bottom: 2rem;
}

h3 {
    margin-bottom: 1rem;
}

h4,
h5,
h6 {
    margin-bottom: 1rem;
    font-family: $font-family-base;
    font-weight: bold;
}

.email {
    i {
        font-size: 1.3rem;
    }
}

.row {
    flex-flow: row wrap;
    align-content: stretch;
}

.container {
    max-width: 100vw !important;
    
    @include media-breakpoint-up(lg) {
        max-width: 1180px !important;
    }
    
    &.wrap {
        min-height: calc(100vh - 13rem);
        display: flex;
        flex-flow: column nowrap;
    }
}

.content {
    width: 100%;
    flex: 1 0 auto;
    border: $border-width solid $black;
}

.page-template-default {
    
    .main { padding: 4rem 5rem; }
}

form {
    
    label { 
        display: block;
        line-height: 1;
    }
    
    .input {
        padding: .35rem .5rem;
        line-height: 1;
        background: $white;
        border: 3px solid $black;
        border-radius: 4px;
        box-shadow: none;
    }
}

