.login-box {
    padding: 2rem;
    color: $white;
    text-align: center;
    border-bottom: $border-width solid $black;

    legend {
        line-height: 1;
        margin-bottom: 1rem;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.3;
        margin-bottom: 1.5rem;
    }

    a {
        color: $white;
        text-transform: uppercase;
    }

    > a {

        &:first-of-type { float: left; }

        &:last-of-type { float: right; }
    }
    
    
    .alert {
        margin-bottom: 3rem;
    }

//    .um {
//        margin-bottom: 0 !important;
//        
//        + a,
//        + a + a {
//            margin-top: -1.6rem;
//        }
//    }
//    
//    .um-register { display: none; }
//
//    .um-form {
//        padding-left: 4rem;
//        padding-right: 4rem;
//        font-size: 1rem !important;
//
//        > p { text-align: left; }
//
//        a.um-link-alt { 
//            color: $white !important;
//        
//            .providers-page &,
//            .agents-page & {
//                color: $black !important;
//            }
//        }
//
//        #um-submit-btn {
//            padding: 0.4rem 2rem !important;
//            margin: 0 auto 2rem;
//            min-width: 0 !important;
//            text-transform: uppercase !important;
//            border: 0 !important;
//            border-radius: 0 !important;
//        }
//    }
//
//    .um-form-field { width: 100%; }
}

.category { 
    position: relative;

//    &.logged-out {
//        height: 100vh;
//        overflow: hidden;
//    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
    }
    
    .main {
        position: relative;
        flex-flow: column nowrap;
    }
    
    .main-content {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        color: $white;
    }
    
    .welcome {
        position: relative;
        padding: 3rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        border-bottom: 4px solid $black;
        overflow: hidden;
        
        @include media-breakpoint-up(md) {
            width: 70%;
            border-right: 4px solid $black;
            border-bottom: none;
        }
        
        h3 {
            margin-bottom: 3rem;
        }
    }
    
    .intro { max-width: 550px; }
    
    #snowflake {
        position: absolute;
        right: -20%;
        bottom: -10%;
        opacity: 0.15;
    }
    
    aside {
        width: 30%;
        flex: 1 0 auto;
        display: flex;
        flex-flow: column nowrap;
    }
        
    .call-to-action {
        padding: 1rem;
        text-align: center;
        flex: 1 0 auto;

        h3 { margin-bottom: 1rem; }
    }
    
    .quick-links,
    .contact-area {
        color: $white;
        
        h2 {
            margin-bottom: 1rem;
            color: $white;
        }
    }
    
    .quick-links {
        padding: 1rem 2rem;
        min-width: 33%;
        border-top: 4px solid $black;
        
        @include media-breakpoint-up(md) {
            padding-top: 3rem;
            border-right: 4px solid $black;
        }
        
        .menu {
            padding: 0;
            margin: 0;
            list-style: none;
            
            a { color: $white; }
        }
    }
    
    .contact-area {
        padding: 1rem;
        position: relative;
        flex: 1 0 50%;
        background: $purple;
            
        h2 { 
            margin-top: .5rem;
            min-height: 2.5rem;
        }
        
        @include media-breakpoint-up(md) {
            padding-top: 3rem;
            
            h2 {
                min-height: 0;
                margin-top: 0;
            }
        }
        
        &:before {
            margin-top: -.5rem;
            margin-right: .5rem;
            width: 3.5rem;
            height: 3.5rem;
            float: left;
            content: '';
            background-image: url(#{$customer-service-icon});
            background-repeat: no-repeat;
            background-size: contain;
        
            @include media-breakpoint-up(md) {
                position: absolute;
                top: -2.5rem;
                left: 1.5rem;
                margin: 0;
                width: 5rem;
                height: 5rem;
            }
        }
    }
    
    &.members-page {
        
        .welcome { background: $purple }
        
        .login-box { background: $indigo; }
        
        .call-to-action { background: $teal; }
        
        .quick-links { background: $green; }
        
        .contact-area { background: $blue; }
    }
    
    &.employers-page {
        
        .welcome { background: $blue }

        .login-box { background: $teal; }
        
        .call-to-action { background: $indigo; }
        
        .quick-links { background: $green; }
    }
    
    &.agents-page {
        
        .welcome { background: $green }

        .login-box { background: $blue; }
        
        .call-to-action { background: $indigo; }
        
        .quick-links { background: $teal; }
    }
    
    &.providers-page {
        
        .welcome { background: $teal }

        .login-box { background: $green; }
        
        .call-to-action { background: $indigo; }
        
        .quick-links { background: $blue; }
    }
}