
.nav {
    text-align: right;
    
    &__constant {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        color: $white;
        text-align: right;
        background: map-get($theme-colors, primary);
        border-top: 5px solid $black;
        border-bottom: 5px solid $black;
        
        .container > * { 
            line-height: 1;
            vertical-align: middle;
        }
        
        span,
        a { display: inline-block; }

        a {
            color: $white;

            &:hover { color: $purple; }
        }

        .search-form {
            display: inline-block;
            
            .form-group { margin: 0; }
        }

        .contact-phone,
        .contact-social { margin-right: 2rem; }

        .contact-email { margin-right: 1rem; }
        
        .contact-phone {
            
            .text {
                display: none;
                
                @include media-breakpoint-up(md) { display: inline; }
            }
            
            i {
                
                @include media-breakpoint-up(md) { display: none; }
                
            }
        }
    }
    
    &__primary {
        display: none;
        vertical-align: bottom;

        @include media-breakpoint-up(md) {
            width: calc(100% - 9rem);
            display: inline-block;
        }

        @include media-breakpoint-up(lg) {
            width: calc(100% - 17rem);
        }
        
        .nav {
            justify-content: flex-end;
            
            > li {
                margin-left: 5px;
                width: calc(20% - 15px);
                display: inline-block;

                > a {
                    position: relative;
                    bottom: -#{$border-width};
                    z-index: 1;
                    padding-top: 0.6rem;
                    padding-bottom: 0.6rem;
                    display: block;
                    color: $white;
                    font-family: $headings-font-family;
                    line-height: 1;
                    text-transform: uppercase;
                    text-align: center;
                    background: $indigo;
                    border: $border-width solid $black;
                    border-bottom: 0;
                    border-top-right-radius: .78rem;
                    border-top-left-radius: .78rem;


                    &[href*="members"] { background: $purple; }

                    &[href*="employers"] { background: $blue; }

                    &[href*="agents"] { background: $green; }

                    &[href*="providers"] { background: $teal; }
                }


                &.current-menu-item {
                    z-index: 10;
                    
                    > a {
                        border-bottom: $border-width solid $indigo;

                        .members-page & { border-bottom-color: $purple; }

                        .employers-page & { border-bottom-color: $blue; }

                        .agents-page & { border-bottom-color: $green; }

                        .providers-page & { border-bottom-color: $teal; }
                        
                    }
                }
            }
        }
    }
    
    &__secondary {
        display: none;
        
        @include media-breakpoint-up(md) {
            padding: 0;
            width: 100%;
            display: block;
            border: $border-width solid $black;
            border-bottom: 0;
            border-radius: 0.78rem;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            
            &:before {
                height: 1rem;
                display: block;
                content: '';
                background: $indigo;
                border-top-right-radius: 0.5rem;
                border-top-left-radius: 0.5rem;
                border-bottom: $border-width solid $black;

                .members-page & { background-color: $purple; }

                .employers-page & { background-color: $blue; }

                .agents-page & { background-color: $green; }

                .providers-page & { background-color: $teal; }
            }

            .nav {
                list-style: none;
                background: inherit;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;

                &:after {
                    display: table;
                    content: '';
                    clear: both;

                }

                > li {
                    position: relative;
                    flex: 1 0 auto;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 1.4;

                    > a {
                        padding-top: 0.25rem;
                        padding-bottom: 0.25rem;
                        display: block;
                        color: $body-color;
                    }

                    &.current-menu-item {

                        > a { 
                            color: $purple;

                            .employers-page & { color: $blue; }

                            .agents-page & { color: $green; }

                            .providers-page & { color: $teal; }

                        }
                    }

                    &:hover,
                    &:focus,
                    &:active {

                        > a { 
                            color: $white !important;
                            background: rgba($indigo, 0.8);
                            text-decoration: none;

                            .members-page & { background: rgba($purple, 0.8); }

                            .employers-page & { background: rgba($blue, 0.8); }

                            .agents-page & { background: rgba($green, 0.8); }

                            .providers-page & { background: rgba($teal, 0.8); }
                        }
                    }

                    &:hover,
                    &:focus {

                        > .sub-menu { 
                            padding: 1rem;
                            max-height: 500px;
                        }
                    }
                }

            }

            .sub-menu {
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                z-index: 100;
                margin: 0;
                max-height: 0;
                list-style: none;
                background: rgba(darken($indigo, 15), 0.8);
                overflow: hidden;
                transition: max-height 0.3s linear;

                .members-page & { background: rgba(darken($purple, 15), 0.8); }

                .employers-page & { background: rgba(darken($blue, 15), 0.8); }

                .agents-page & { background: rgba(darken($green, 15), 0.8); }

                .providers-page & { background: rgba(darken($teal, 15), 0.8); }

                a { 
                    display: block;
                    color: $white;
                    font-size: 0.85rem;
                    font-weight: $font-weight-normal;
                    text-transform: none;
                    text-decoration: none;
                }

                > li { 
                    padding: 0;
                    margin-bottom: 1rem;
                    text-align: left;

                    &.current_page_item > a { color: $teal; }

                    &:hover > a {
                        color: $green;
                    }
                }
            }
        }
    }
    
    &__page {
        
        a {
            color: $white;
            text-decoration: none;
        }
        
        .pages-list {
            padding: 0;
            margin: 0;
            list-style: none;
            
            > li {
                padding: 0;
                
                > a { font-weight: $font-weight-bold; }
                
                &.current_page_item > a { color: $teal; }
                
                &:hover > a,
                &:focus > a,
                &:active > a { color: $green; }
            }
            
            .children { 
                margin-top: .5rem;
                margin-bottom: 1.5rem;
            }
        }
    }
    
    &__mobile {
        
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            transform-style: preserve-3d;
            
            li { padding: 0; }
            
            a {
                padding: .5rem 1rem;
                display: block;
                color: $white;
                background: rgba($indigo, 0.4);
                
                &:hover { background: rgba($indigo, 0.6); }
            }
            
            .current_page_item {
                
                > a { background: $indigo; }
            }
        }
        
        @include media-breakpoint-up(md) { display: none; }
        
        .menu {
            
            .children {
                display: none;
                
                &:before {
                    padding: inherit;
                    display: block;
                    content: 'back';
                    background: rgba($indigo, 0.8);
                }
            }
            
            .page_item_has_children {
                
                &.open {
                    
                    > a { display: none; }
                    
                    > .children { display: block; }
                }
            }
        }
    }
}

.menu-primary-menu-container {
    width: 100%;
    float: right;
}

