.main {
    
    .page:not(.home) &,
    .search & {
        padding: 1rem 1.5rem;
    
        @include media-breakpoint-up(md) {
            padding: 1rem 4rem;
        }
        
        article {
            margin-bottom: 1rem;
            border-bottom: 1px solid gray(300);
        }
    }
}

    
.main-content { 
    flex: 1 0 auto;
}

    
@include media-breakpoint-up(md) {
    
    .page-footer { 
        display: flex;
        flex-flow: row wrap;
    }
}

.welcome-message,
.contact-area,
.chat-area {
    border-top: 4px solid $black;
    
    @include media-breakpoint-up(md) {
        float: left;
    }
    
    h2, h3 {
        color: $white;
    }
    
    p:last-of-type { margin-bottom: 0; }
}

.welcome-message,
.chat-area {
    
    @include media-breakpoint-up(md) {
        width: 66.67%;
        border-right: 4px solid $black;
    }
}

.home {
    
    .main {
        display: flex;
        flex-flow: column wrap;
    }
    
    .so-widget-sow-hero {
        
    
        @include media-breakpoint-up(md) {
            height: 27rem;
        
            .sow-slider-base,
            .sow-slider-images,
            .sow-slider-image { height: 100% !important; }
        }
    }
    
    .sow-slider-images {
        padding: 0;
    }
        
    .sow-slider-image-wrapper {
        padding-bottom: 2rem !important;
        background: rgba($white, 0.5);
        
        > p:first-child { margin: 0 !important; }
        
        img {
            float: left;
            width: 5rem !important;
            height: 5rem !important;

        }
        
        h2 { 
            padding-left: 6rem;
            margin: 0 !important;
            min-height: 5rem;
            font-size: 2rem !important;
        }
    
        @include media-breakpoint-up(md) {
            width: 70%;
            margin: 3rem 5rem !important;
            background: rgba($white, 0.75);
            border: $border-width solid $black;
        
            img {
                position: absolute;
                top: 6rem;
                right: 10rem;
                width: 15rem !important;
                height: 15rem !important;
            }
        
            h2 {
                padding-left: 0;
                margin-top: 1rem !important;
                min-height: 0;
            }
        }
    
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }
    
    .key-features {
        padding: 0;
        margin: 0;
        color: $white;
        list-style: none;
        background: $indigo;
        border-top: 4px solid $black;
        
        @include media-breakpoint-up(md) {
            padding-right: 5rem;
            padding-left: 5rem;
        }
        
        &:after {
            display: table;
            clear: both;
            content: '';
        }
        
        li {
            padding: 0;
            margin-bottom: .5rem;
            width: 25%;
            float: left;
            line-height: 1.3;
            text-align: center;
            
            .icon {
                margin: -2.5rem auto .5rem;
                width: 5rem;
                height: 5rem;
                display: block;
        
                @include media-breakpoint-up(md) {
                    margin-top: -4rem;
                    margin-bottom: 1rem;
                    width: 7rem;
                    height: 7rem;
                }
            }
        }
    }
    
    .widget.welcome-message {
        padding: .75rem 2rem;
        color: $white;
        background: $blue;
    }
    
    .widget.contact-area {
        position: relative;
        padding: 2rem;
        color:$white;
        background: darken($green, 5);
        
        &:before {
            width: 5rem;
            height: 5rem;
            display: block;
            content: '';
            background: url(#{$customer-service-icon}), no-repeat;
            background-size: contain;
        }
        
        @include media-breakpoint-up(md) {
            width: 33.33%;
            
            &:before {
                position: absolute;
                top: 1rem;
                left: -2.5rem;
            }
            
            h4 { 
                padding-left: 1rem;
                height: 4rem;
            }
        }
    }
}

.category {
    
    .welcome {
        
        h3 {
            color: $white;
        }
    }
}

.sow-image-grid-image {
    vertical-align: middle;
    filter: grayscale(100);
    
    &:hover { filter: none; }
}