.main {
    
    .page:not(.home) & { padding: 1rem 4rem; }
}

    
.main-content { 
    flex: 1 0 auto;
}

    
@include media-breakpoint-up(md) {
    
    .page-footer { display: flex; }
}

.welcome-message,
.contact-area,
.chat-area {
    border-top: 4px solid $black;
    
    @include media-breakpoint-up(md) {
        width: 50%;
        float: left;
    }
    
    h2, h3 {
        color: $white;
    }
    
    p:last-of-type { margin-bottom: 0; }
}

.welcome-message,
.chat-area {
    
    @include media-breakpoint-up(md) {
        border-right: 4px solid $black;
    }
}

.home {
    
    .main {
        display: flex;
        flex-flow: column wrap;
    }
    
    .so-widget-sow-hero {
        height: 27rem;
        
        .sow-slider-base,
        .sow-slider-images,
        .sow-slider-image { height: 100% !important; }
    }
    
    .sow-slider-images {
        padding: 0;
    }
        
    .sow-slider-image-wrapper {
        position: relative;
        padding-bottom: 2rem !important;
        margin:  3rem 5rem !important;
        width: 50%;
        background: $white;
        border: $border-width solid $black;
        
        img {
            position: absolute;
            top: -1.5rem;
            left: -2.5rem;
            width: 5rem !important;
            height: 5rem !important;
            
        }
    }
    
    .key-features {
        padding: 0;
        margin: 0;
        color: $white;
        list-style: none;
        background: $indigo;
        border-top: 4px solid $black;
        
        @include media-breakpoint-up(md) {
            padding-right: 5rem;
            padding-left: 5rem;
        }
        
        &:after {
            display: table;
            clear: both;
            content: '';
        }
        
        li {
            padding: 0;
            margin-bottom: .5rem;
            width: 25%;
            float: left;
            line-height: 1.3;
            text-align: center;
            
            .icon {
                margin: -2.5rem auto .5rem;
                width: 5rem;
                height: 5rem;
                display: block;
        
                @include media-breakpoint-up(md) {
                    margin-top: -4rem;
                    margin-bottom: 1rem;
                    width: 7rem;
                    height: 7rem;
                }
            }
        }
    }
    
    .widget.welcome-message {
        padding: .75rem 2rem;
        color: $white;
        background: $blue;
    }
    
    .widget.contact-area {
        position: relative;
        padding: 1rem 2rem 1rem 7rem;
        flex: 1 0 auto;
        color:$white;
        background: darken($green, 5);
        
        &:before {
            position: relative;
            left: -5rem;
            content: '';
            width: 5rem;
            height: 5rem;
            display: block;
            background: url(#{$customer-service-icon}), no-repeat;
            background-size: contain;
        }
    }
}

.category {
    
    .welcome {
        
        h3 {
            color: $white;
        }
    }
}