.sidebar {
    position: relative;
    padding: 2rem 1rem;
    color: $white;
    text-align: center;
    background: $indigo;
    border-right: 4px solid $black;
    overflow: hidden;
            
    .members-page & { background-color: $purple; }

    .employers-page & { background-color: $blue; }

    .agents-page & { background-color: $green; }

    .providers-page & { background-color: $teal; }
    
    #snowflake {
        position: absolute;
        bottom: 0.5rem;
        right: -70%;
        z-index: 0;
        max-height: 60%;
        opacity: 0.35;
        pointer-events: none;
    }
    
    .nav__page {
        
        h2 { margin-bottom: 2rem; }
        
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            
            li {
                margin-bottom: 0.5rem;
                
                &.current-menu-item {
                    
                    > a { font-weight: $font-weight-bold; }
                }
            }
        }
    }
}